/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body,
body>p,
body>ol,
body>ul,
body>td {
  margin: 8px;
}

#banner {
  position: relative;
  border-bottom: 2px solid;
  background: #9c9;
  padding: 10px;
  min-height: 40px;
  text-align: center;
  color: #282;
  font: small-caps 40px/40px "Times New Roman" serif;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 192px;
  }
}

#notice {
  margin-bottom: 2em;
  border: 2px solid red;
  background-color: #f0f0f0;
  padding: 1em;
  color: #000;
  font: bold smaller sans-serif;
}

#notice:empty {
  display: none;
}

#columns {
  display: flex;
  background-color: #141;

  #main {
    flex: 1;
    background: white;
    padding: 1em;
  }

  #side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #141;
    padding: 1em 2em;
    color: #bfb;

    ul {
      padding: 0;
      li {
        list-style: none;
        a {
          color: inherit;
          font-size: small;
        }
      }
    }

    #time {
      bottom: 20px;
      font: 1.5em Chalkduster;
    }
  }
}

@media all and (max-width: 800px) {
  #columns {
    flex-direction: column-reverse;
  }
}

@media all and (max-width: 500px) {
  #banner {
    height: 1em;
  }

  #banner .title {
    display: none;
  }
}
