// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carts,
#side #cart {
  .item-price,
  .total-line {
    text-align: right;
  }

  .total-line .total-cell {
    border-top: 1px solid #595;
    font-weight: bold;
  }
}
